* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Make background color grey */
body {
    background-color: #d9dcd6;
}

/* Setup background and structure of header/nav bar */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Resizing Horiseon and making inline */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changing color of SEO within header */
.seo {
    color: #d9dcd6;
}

/* Creating structure for nav bar and floating next to homepage name */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Making list unordered */
nav ul {
    list-style-type: none;
}

/* Making nav bar links in line with homepage name */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Changing color of nav bar links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Changing font sizes within the paragraphs */
p {
    font-size: 16px;
}

/* Creating strucutre for homepage image of marketing meeting */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Setting up content section of homepage */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Floating odd images left within each article  */
.image-float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

/* Floating even images right within each article */
.image-float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/* Customizing SEO article section */
#search-engine-optimization, #online-reputation-management, #social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Customizing headings for each article */
#search-engine-optimization h2, #online-reputation-management h2, #social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Creating structure for sidebar of benefits */
#sidebar {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Creating space and font color for each benefit */
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Styling each benefit name */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Styling each benefit image */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Styling footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Changing size of text in footer */
footer h4 {
    font-size: 20px;
}
